# Archivos y carpetas temporales
src/utils
temp_pdf_base64.txt
src/temp_results/
*.traineddata

*.log
node_modules/
data/
node_modules
src/temp_results
src/temp_images
temp.pdf
temp_pdf_base64.txt
ocr-albaran-resultados.md
spa.traineddata
eng.traineddata
temp_pdf_base64.txt
src/temp_first_page-1.png
temp_pdf_base64.txt
src/temp_first_page.pdf
temp_results
docs/planeacion_migracion_python.md
.env